<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankSystem</display-name>
	<filter>
		<description>
		</description>
		<display-name>RestrictedAccess</display-name>
		<filter-name>RestrictedAccess</filter-name>
		<filter-class>controller.RestrictedAccess</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<url-pattern>/RestrictedAccess</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>ApplyLoan</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>ChangePasswordLinkSent</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>ChangePassword</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>Logout</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>TransactionHistory</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>Transfer</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictedAccess</filter-name>
		<servlet-name>ViewBalance</servlet-name>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Verify</display-name>
		<servlet-name>Verify</servlet-name>
		<servlet-class>controller.Verify</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePasswordLinkSent</display-name>
		<servlet-name>ChangePasswordLinkSent</servlet-name>
		<servlet-class>controller.ChangePasswordLinkSent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>controller.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewBalance</display-name>
		<servlet-name>ViewBalance</servlet-name>
		<servlet-class>controller.ViewBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forget</display-name>
		<servlet-name>Forget</servlet-name>
		<servlet-class>controller.Forget</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransactionHistory</display-name>
		<servlet-name>TransactionHistory</servlet-name>
		<servlet-class>controller.TransactionHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Verify</servlet-name>
		<url-pattern>/Verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordLinkSent</servlet-name>
		<url-pattern>/ChangePasswordLinkSent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBalance</servlet-name>
		<url-pattern>/ViewBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forget</servlet-name>
		<url-pattern>/Forget</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionHistory</servlet-name>
		<url-pattern>/TransactionHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
</web-app>